.statistics{

  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;

  a{ color: black}
  a:visited{ color: black}

  .page_title{
    font-size: 45px;
    margin-bottom: 5px;
  }
  .title{
   font-size: 18px;
  }

}